<!DOCTYPE html>
<html>
  <% include partials/header.ejs %>
  <body>
    <div class="d-flex" id="wrapper">
      <% include partials/sidebar.ejs %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% include partials/nav.ejs %>
        <div class="container-fluid">
          <h1><%= title %></h1>
          <table>
            <tr>
              <td><ul>
                <% if (centers && centers.length > 0) { %>
                  <% centers.forEach(function(center) { %>
                    <li class="list-group-item">
                      <a href="/centers/<%=center._id%>"> <%= center.centername %></a>
                    </li>
                  <% }); %>
                <% } else { %>
                  <h1 style="text-align:right;"> Sorry ! No Center !</h1>
                <% } %>
              </ul></td>

              <td><ul>
                <% if (trainers && trainers.length > 0) { %>
                  <% trainers.forEach(function(trainer) { %>
                    <li class="list-group-item">
                      <a href="/trainers/<%=trainer._id%>"> <%= trainer.trainername %></a>
                    </li>
                  <% }); %>
                <% } else { %>
                  <h1 style="text-align:right;"> Sorry ! No Trainer !</h1>
                <% } %>
              </ul></td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <% include partials/footer.ejs %>
  </body>
  <% include partials/scripts.ejs %>
</html>
